<template>
  <header>
    <h1 id="title">Calculator</h1>
  </header>
  <main class="calculator">
    <div class="btns" id="display">{{ current || "0" }}</div>
    <div @click="clear" class="btns operator">C</div>
    <div @click="sign" class="btns operator">+/-</div>
    <div @click="percent" class="btns operator">%</div>
    <div @click="divide" class="btns operator">/</div>
    <div @click="append(7)" class="btns">7</div>
    <div @click="append(8)" class="btns">8</div>
    <div @click="append(9)" class="btns">9</div>
    <div @click="product" class="btns operator">x</div>
    <div @click="append(4)" class="btns">4</div>
    <div @click="append(5)" class="btns">5</div>
    <div @click="append(6)" class="btns">6</div>
    <div @click="subtract" class="btns operator">-</div>
    <div @click="append(1)" class="btns">1</div>
    <div @click="append(2)" class="btns">2</div>
    <div @click="append(2)" class="btns">3</div>
    <div @click="add" class="btns operator">+</div>
    <div @click="append(0)" class="btns" id="zero">0</div>
    <div @click="dot" class="btns">.</div>
    <div @click="eval" class="btns operator">=</div>
  </main>
</template>
<style>
@import "style.css";
</style> 
<script>
export default {
  data() {
    return {
      previous: null,
      current: "",
      operator: null,
      opclicked: false,
    };
  },
  methods: {
    clear() {
      this.current = "";
    },
    sign() {
      this.current =
        this.current[0] === "-" ? this.current.slice(1) : `-${this.current}`;
    },
    percent() {
      this.current = `${parseFloat(this.current) / 100}`;
    },
    append(number) {
      if (this.opclicked) {
        this.current = "";
        this.opclicked = false;
      }
      this.current = `${this.current}${number}`;
    },
    dot() {
      if (this.current.indexOf(".") === -1) {
        this.append(".");
      }
    },
    switchPrv() {
      this.previous = this.current;
      this.opclicked = true;
    },
    divide() {
      this.operator = (a, b) => a / b;
      this.switchPrv();
    },
    product() {
      this.operator = (a, b) => a * b;
      this.switchPrv();
    },
    subtract() {
      this.operator = (a, b) => a - b;
      this.switchPrv();
    },
    add() {
      this.append('+');
      this.operator = (a, b) => a + b;
      this.switchPrv();
    },
    eval() {
      this.current = this.operator(
        parseFloat(this.previous, parseFloat(this.current))
      );
      this.previous = null;
    },
  },
};
</script>
