#title{
  text-align: center;
}
.calculator{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(50px,auto);
  font-size: 1.5rem;
  width: 360px;
  height: 500px;
  margin: auto;
}

#display{
  grid-column: 1/5;
  background-color:turquoise;
  overflow: scroll;
}
#display::-webkit-scrollbar{
 width: 0;
 height: 0;
 
}
#zero{
  grid-column: 1/3;
}

.btns{
  background-color: antiquewhite;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.operator{
  background-color:aquamarine;
}
.btns:hover:not(:first-child){
  background-color:aliceblue;
}
.btns:active:not(:first-child){
  transform: translateY(2px);
}